# Assignment

Each user is potentially interested in watching one or more of the movies specified in `requests.json`. Our job is to **decide which movie or movies to recommend to these users**.

Use a combination of matrix factorization model (ALS) and a cold start model (using user and movie metadata) to fill in the NaN values and predict ratings for these movies.

Your predictions will be scored as follows:

1. Each user may watch movies from your list, starting with the highest predicted rating.
2. Your model will be scored based on how well the users liked the movies they watched.

# Import Libraries

In [97]:
import pyspark
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS, ALSModel

# K Means
from sklearn.cluster import KMeans
from sklearn.metrics import calinski_harabaz_score
from sklearn import metrics
from sklearn.metrics import calinski_harabaz_score

import pandas as pd

# Import Data

In [99]:
!ls data

HAC.ipynb           combined.csv        new_users.csv       users.csv
LICENSE             movies.csv          ratings.csv         users.dat
README              movies.dat          ratings.json
RM.ipynb            movies_metadata.csv requests.json

In [9]:
spark = (pyspark.sql.SparkSession.builder.master("local[*]").getOrCreate())

### Import Movies CSV

In [13]:
file = 'data/movies.csv'
movies = spark.read.csv(file, inferSchema=True, header=True)
movies.head(3)

Row(_c0=0, movie_id=2, title='Jumanji (1995)', genres="Adventure|Children's|Fantasy")

In [142]:
movies_df = pd.read_csv('data/movies.csv', index_col=0)
movies_df.head()

   movie_id                               title                        genres
0         2                      Jumanji (1995)  Adventure|Children's|Fantasy
1         3             Grumpier Old Men (1995)                Comedy|Romance
2         4            Waiting to Exhale (1995)                  Comedy|Drama
3         5  Father of the Bride Part II (1995)                        Comedy
4         6                         Heat (1995)         Action|Crime|Thriller

### Import Movies_metadata CSV

In [17]:
file = 'data/movies_metadata.csv'
movies_metadata = spark.read.csv(file, inferSchema=True, header=True)

In [20]:
movies_metadata.head(1)

[Row(adult='False', belongs_to_collection="{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}", budget='30000000', genres="[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]", homepage='http://toystory.disney.com/toy-story', id='862', imdb_id='tt0114709', original_language='en', original_title='Toy Story', overview="Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.", popularity='21.946943', poster_path='/rhIRbceoE9lR4veEXuwCC2wARtG.jpg', production_companies="[{'name': 'Pixar Animation Studios', 'id': 3}]", production_countries="[{'iso_3166_1': 'US', 'name': 'United States of America'}]", release_date='1995-10-30', revenue='373554033', runtime='81.0', spoken_languages="[{'iso_639_1': 'en', 'name': 'English'}]", status='Released', tagline=None, title='Toy Story', video='False', vote_average='7.7', vote_count='5415')]

### Import Ratings CSV

In [201]:
# Spark
file = 'data/ratings.csv'
ratings = spark.read.csv(file, inferSchema=True, header=True)
ratings.head(3)

[Row(_c0=0, movie_id=858, rating=4, timestamp=datetime.datetime(2000, 4, 25, 16, 5, 32), user_id=6040),
 Row(_c0=1, movie_id=2384, rating=4, timestamp=datetime.datetime(2000, 4, 25, 16, 5, 54), user_id=6040),
 Row(_c0=2, movie_id=593, rating=5, timestamp=datetime.datetime(2000, 4, 25, 16, 5, 54), user_id=6040)]

In [143]:
ratings_df = pd.read_csv('data/ratings.csv', index_col=0)
ratings_df.head()

   movie_id  rating            timestamp  user_id
0       858       4  2000-04-25 16:05:32     6040
1      2384       4  2000-04-25 16:05:54     6040
2       593       5  2000-04-25 16:05:54     6040
3      1961       4  2000-04-25 16:06:17     6040
4      1419       3  2000-04-25 16:07:36     6040

### Import Requests CSV

In [183]:
file = 'data/requests.csv'
requests = spark.read.json(file, inferSchema=True, header=True)
requests

AnalysisException: 'Path does not exist: file:/Users/adam/Documents/flatiron/Virtual-environment/dc_ds_04_22_19/module_5/recommendation_spark_project/recommendation_project/recommendation-case-study/data/requests.csv;'

#### Convert from json to df

In [196]:
requests_df = pd.read_json('./data/requests.json')
requests_df.head()

   movie_id rating           timestamp  user_id
0      2019        2000-04-25 16:06:17     6040
1       759        2000-04-25 16:14:08     6040
2      2858        2000-04-25 16:14:35     6040
3       246        2000-04-25 16:16:53     6040
4      1617        2000-04-25 16:17:53     6040

In [219]:
predictions_df = predictions.toPandas()

In [226]:
predictions_df.head(3)

      _c0  movie_id  rating  user_id  prediction
0  711359       148       5      673    4.118373
1  268207       148       2     4227    1.986342
2  407239       148       3     4784    2.714088

In [234]:
test = pd.merge(requests_df, predictions_df, how='left',
         left_on=['movie_id'], 
         right_on=['movie_id']
        )

In [238]:
test.head()

,movie_id,rating_x,timestamp,user_id_x,_c0,rating_y,user_id_y,prediction
0,2019,,2000-04-25 16:06:17,6040,680397.0,3.0,1896.0,4.499943
1,2019,,2000-04-25 16:06:17,6040,382339.0,4.0,3226.0,4.737780
2,2019,,2000-04-25 16:06:17,6040,609043.0,5.0,1303.0,4.120128
3,2019,,2000-04-25 16:06:17,6040,543805.0,5.0,1903.0,4.465846
4,2019,,2000-04-25 16:06:17,6040,473299.0,5.0,2572.0,4.694650

In [239]:
test.rating_y.isna().sum()

197

In [ ]:
pd.merge(requests_df, predictions_df, how='left',
         left_on=['user_id', 'movie_id'], 
         right_on=['user_id', 'movie_id']
        )

### Import Users CSV

In [24]:
file = 'data/users.csv'
users = spark.read.csv(file, inferSchema=True, header=True)

In [26]:
users.head(3)

[Row(_c0=0, id=2, gender='M', age=56, occupation='self-employed', zipcode='70072'),
 Row(_c0=1, id=3, gender='M', age=25, occupation='scientist', zipcode='55117'),
 Row(_c0=2, id=4, gender='M', age=45, occupation='executive/managerial', zipcode='02460')]

### Combined CSV

In [135]:
user_new_vs_old = pd.read_csv('data/combined.csv', index_col=0)

In [138]:
user_new_vs_old.head(5)

   id  gender  age            occupation  zipcode  new  is_new
0   2       0   56         self-employed    70072  2.0    True
1   3       0   25             scientist    55117  3.0    True
2   4       0   45  executive/managerial     2460  4.0    True
3   5       0   25                writer    55455  5.0    True
4   6       1   50             homemaker    55117  6.0    True

## Read datasets into Pyspark DataFrames

In [202]:
# Print Schema
ratings.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- movie_id: integer (nullable = true)
 |-- rating: integer (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- user_id: integer (nullable = true)

In [203]:
ratings.persist()

DataFrame[_c0: int, movie_id: int, rating: int, timestamp: timestamp, user_id: int]

In [204]:
ratings.show(5)

+---+--------+------+-------------------+-------+
|_c0|movie_id|rating|          timestamp|user_id|
+---+--------+------+-------------------+-------+
|  0|     858|     4|2000-04-25 16:05:32|   6040|
|  1|    2384|     4|2000-04-25 16:05:54|   6040|
|  2|     593|     5|2000-04-25 16:05:54|   6040|
|  3|    1961|     4|2000-04-25 16:06:17|   6040|
|  4|    1419|     3|2000-04-25 16:07:36|   6040|
+---+--------+------+-------------------+-------+
only showing top 5 rows

## Drop timestamp

In [205]:
ratings = ratings.drop(ratings.timestamp)

# Fitting ALS Model

## Train:Test Split

In [217]:
(trainingdata, testdata) = ratings.randomSplit([0.7, 0.3], seed = 100)

print("Training Dataset Count: " + str(trainingdata.count()))
print("Test Dataset Count: " + str(testdata.count()))

Training Dataset Count: 503570
Test Dataset Count: 216379

## Convert to Matrix

In [207]:
als = ALS(
    rank=10,  #10 variables/latent factors
    maxIter=10,  #
    userCol='user_id',
    itemCol='movie_id',
    ratingCol='rating',
)

## Fit the model

In [208]:
als_model = als.fit(trainingdata)

## Test the Model on Training Data

In [209]:
predictions = als_model.transform(trainingdata)
predictions.persist()

DataFrame[_c0: int, movie_id: int, rating: int, user_id: int, prediction: float]

In [210]:
user_factors = als_model.userFactors
item_factors = als_model.itemFactors

In [211]:
evaluator = RegressionEvaluator(labelCol='rating')
evaluator.evaluate(predictions.na.drop())

0.7966203970798736

### GridSearch for rank on the ALS Model

In [76]:
for rank in range(2,20):
    als = ALS(
    rank=rank,  #10 variables/latent factors
    maxIter=10,  #
    userCol='user_id',
    itemCol='movie_id',
    ratingCol='rating',
    )
    
    als_model = als.fit(trainingdata)
    
    predictions = als_model.transform(trainingdata)
    predictions.persist()
    
    evaluator = RegressionEvaluator(labelCol='rating')
    train_evaluation = evaluator.evaluate(predictions.na.drop())
    print('rank of {} gives evaluation of: {}'.format(rank, train_evaluation))

rank of 2 gives evaluation of: 0.8692836935677496
rank of 3 gives evaluation of: 0.8498860941523478
rank of 4 gives evaluation of: 0.8432708835916568
rank of 5 gives evaluation of: 0.8300134886200013
rank of 6 gives evaluation of: 0.8168416618464474
rank of 7 gives evaluation of: 0.8142698576875608
rank of 8 gives evaluation of: 0.8073526060419344
rank of 9 gives evaluation of: 0.8014436953738617
rank of 10 gives evaluation of: 0.7966203970798736
rank of 11 gives evaluation of: 0.7920560493865898
rank of 12 gives evaluation of: 0.7868691369468591
rank of 13 gives evaluation of: 0.7838049648715684
rank of 14 gives evaluation of: 0.7805271499584969
rank of 15 gives evaluation of: 0.7770812532800946
rank of 16 gives evaluation of: 0.7759755304138988
rank of 17 gives evaluation of: 0.7723151487228088
rank of 18 gives evaluation of: 0.7700858450399435
rank of 19 gives evaluation of: 0.7674571313808766

* Rank of 19 seems to produce the best results

# Evaluate ALS Model

In [77]:
predictions = als_model.transform(testdata)
predictions.persist()

DataFrame[_c0: int, movie_id: int, rating: int, user_id: int, prediction: float]

In [78]:
ratings.show(1)

+---+--------+------+-------+
|_c0|movie_id|rating|user_id|
+---+--------+------+-------+
|  0|     858|     4|   6040|
+---+--------+------+-------+
only showing top 1 row

In [79]:
predictions.show(1)

+------+--------+------+-------+----------+
|   _c0|movie_id|rating|user_id|prediction|
+------+--------+------+-------+----------+
|388719|     148|     4|   3184| 2.9916844|
+------+--------+------+-------+----------+
only showing top 1 row

In [80]:
user_factors = als_model.userFactors
user_factors

DataFrame[id: int, features: array<float>]

In [81]:
item_factors = als_model.itemFactors
item_factors

DataFrame[id: int, features: array<float>]

In [83]:
evaluator = RegressionEvaluator(labelCol='rating')
test_evaluation = evaluator.evaluate(predictions.na.drop())
test_evaluation

0.8788509480050949

# Will User Like a Certain Movie?

In [69]:
# User
user_row = user_factors[user_factors['id'] == 10].first()
user_factors = np.array(user_row['features'])
user_factors

TypeError: 'NoneType' object is not subscriptable

In [ ]:
# Movie
movie_row = item_factors[item_factors['id'] == 296].first()
movie_factors = np.array(movie_row['features'])
movie_factors

## Dot Product

In [ ]:
user_factors @ movie_factors

## User Prediction

In [ ]:
user_preds = predictions[predictions['userId'] == 10]
user_preds.sort('movieId').show()
!grep 296 < data/movies.csv

# What Movies will a User Like?

In [ ]:
recs = als_model.recommendForAllUsers(numItems=10)
recs[recs['userId']==10].first()['recommendations']

In [ ]:
top_movie = None # put a number here/movieID
!grep top_movie < data/movies.csv

# Cold Start Model

**Machine Learning in Recommendation Systems**

ML is only used in the best recommendation systems. The model is constantly learning and adapting to platforms’ users and products it sells. Enables platform to optimize and personalize the content for every particular user.

**Cold Start Problem**

success strongly depends on the platform’s capabilities to adapt quickly to a new person or a new search in order to provide the best and personalized service.

**Product vs Visitor Cold Start**

Can get both types, i.e a new movie or new visitor on platform.  

Use content-based filtering to address this challenge: 
* First use the metadata of new products while creating recommendations
* Visitor’s actions are not used until a certain period of time, i.e. we know enough about them

**Best Strategy for Visitor Cold Start**

Use popularity based recommendations
* regional trends, e.g. global, local
* Time based trends, e.g. time of day, time of year
* Geolocation, e.g. zipcode, region, country
* Platform, e.g. mobile, desktop

Make Clusters within these categories
* Kmeans
* Want high scores, but with tight confidence intervals

**Penalizing Some User Types**

Can even distinguish between users and how they jump between different movies.  If they jump around a lot, can weight their recommendations.

**Limitations**
* ALS is limited in how to deal with NaNs, as we have to drop them.  Doesn't work so well in reality

## Import Predictions

In [112]:
predictions = pd.read_csv('./data/predictions.csv', index_col=0)
predictions.head()

   0
0  1
1  1
2  2
3  1
4  0

## Combine predictions with user_new_vs_old df

In [139]:
user_new_vs_old['seg_cat'] = predictions.iloc[:,0]
user_new_vs_old.head()

   id  gender  age            occupation  zipcode  new  is_new  seg_cat
0   2       0   56         self-employed    70072  2.0    True        1
1   3       0   25             scientist    55117  3.0    True        1
2   4       0   45  executive/managerial     2460  4.0    True        2
3   5       0   25                writer    55455  5.0    True        1
4   6       1   50             homemaker    55117  6.0    True        0

## Join movies df with user_new_vs_old

In [144]:
merged_df = pd.merge(ratings_df, user_new_vs_old, how='inner', left_on='user_id', right_on='id')
merged_df.head(10)

,movie_id,rating,timestamp,user_id,id,gender,age,occupation,zipcode,new,is_new,seg_cat
0,858,4,2000-04-25 16:05:32,6040,6040,0,25,doctor/health care,11106,NaN,False,1
1,2384,4,2000-04-25 16:05:54,6040,6040,0,25,doctor/health care,11106,NaN,False,1
2,593,5,2000-04-25 16:05:54,6040,6040,0,25,doctor/health care,11106,NaN,False,1
3,1961,4,2000-04-25 16:06:17,6040,6040,0,25,doctor/health care,11106,NaN,False,1
4,1419,3,2000-04-25 16:07:36,6040,6040,0,25,doctor/health care,11106,NaN,False,1
5,213,5,2000-04-25 16:07:36,6040,6040,0,25,doctor/health care,11106,NaN,False,1
6,3111,5,2000-04-25 16:07:36,6040,6040,0,25,doctor/health care,11106,NaN,False,1
7,573,4,2000-04-25 16:07:36,6040,6040,0,25,doctor/health care,11106,NaN,False,1
8,3505,4,2000-04-25 16:07:36,6040,6040,0,25,doctor/health care,11106,NaN,False,1
9,1734,2,2000-04-25 16:08:01,6040,6040,0,25,doctor/health care,11106,NaN,False,1

### Groupby

In [182]:
grouped_by_seg_cat = merged_df.groupby(['seg_cat', 'movie_id']).agg({'rating': 'mean'}).sort_values('rating', ascending=False)
grouped_by_seg_cat.head(5)

                  rating
seg_cat movie_id
5       994          5.0
1       3236         5.0
5       2065         5.0
        2070         5.0
4       2928         5.0

In [162]:
grouped_by_seg_cat = grouped_by_seg_cat.reset_index()

In [173]:
grouped_by_seg_cat = grouped_by_seg_cat.merge(movies_df, how='left', left_on='movie_id', right_on='movie_id')

In [174]:
seg_cat0 = grouped_by_seg_cat[grouped_by_seg_cat['seg_cat']==0][0:5]
seg_cat1 = grouped_by_seg_cat[grouped_by_seg_cat['seg_cat']==1][0:5]
seg_cat2 = grouped_by_seg_cat[grouped_by_seg_cat['seg_cat']==2][0:5]
seg_cat3 = grouped_by_seg_cat[grouped_by_seg_cat['seg_cat']==3][0:5]
seg_cat4 = grouped_by_seg_cat[grouped_by_seg_cat['seg_cat']==4][0:5]
seg_cat5 = grouped_by_seg_cat[grouped_by_seg_cat['seg_cat']==5][0:5]

In [181]:
seg_cat3

,seg_cat,movie_id,rating,title,genres
6,3,920,5.0,Gone with the Wind (1939),Drama|Romance|War
8,3,922,5.0,Sunset Blvd. (a.k.a. Sunset Boulevard) (1950),Film-Noir
13,3,951,5.0,His Girl Friday (1940),Comedy
16,3,1008,5.0,"Davy Crockett, King of the Wild Frontier (1955)",Western
21,3,1203,5.0,12 Angry Men (1957),Drama

## KMeans

In [94]:
user_new_vs_old.head(5)

[Row(_c0=0, gender=0, age=56, occupation='self-employed', zipcode=70072, is_new=True),
 Row(_c0=1, gender=0, age=25, occupation='scientist', zipcode=55117, is_new=True),
 Row(_c0=2, gender=0, age=45, occupation='executive/managerial', zipcode=2460, is_new=True),
 Row(_c0=3, gender=0, age=25, occupation='writer', zipcode=55455, is_new=True),
 Row(_c0=4, gender=1, age=50, occupation='homemaker', zipcode=55117, is_new=True)]

In [95]:
user_old = user_new_vs_old[user_new_vs_old['is_new']==0]
user_new = user_new_vs_old[user_new_vs_old['is_new']==1]

In [98]:
k_means = KMeans(n_clusters=3) # Must set number of clusters at initialization time!
k_means.fit(user_old) # Run the clustering algorithm
cluster_assignments = k_means.predict(user_old) # Generate cluster index values for each row in df

print(calinski_harabaz_score(user_old, cluster_assignments))

# Calculate silhouette score
labels = k_means.labels_
metrics.silhouette_score(user_old, labels, metric='euclidean')

ValueError: setting an array element with a sequence.

##