In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('users.csv', index_col=0)

In [3]:
df.head()

   id gender  age            occupation zipcode
0   2      M   56         self-employed   70072
1   3      M   25             scientist   55117
2   4      M   45  executive/managerial   02460
3   5      M   25                writer   55455
4   6      F   50             homemaker   55117

In [4]:
len(df)

6039

In [5]:
df.age.value_counts()

25    2096
35    1193
18    1103
45     550
50     496
56     380
1      221
Name: age, dtype: int64

In [6]:
df.zipcode.value_counts()

48104    19
22903    18
94110    17
55104    17
10025    16
55455    16
55105    16
02138    15
94114    15
55408    15
98103    14
90024    14
94117    14
48103    13
37922    13
90210    13
10016    13
60640    13
55406    12
55405    11
10003    11
02139    11
48105    11
55113    11
10021    10
60657    10
10011    10
60201    10
97330    10
98115    10
         ..
53140     1
53806     1
33149     1
49034     1
97469     1
61600     1
85213     1
45904     1
28120     1
14650     1
13214     1
60035     1
92315     1
10583     1
03768     1
95128     1
34610     1
17022     1
55434     1
18011     1
12203     1
01095     1
64114     1
95326     1
93555     1
37032     1
93906     1
98121     1
13039     1
48072     1
Name: zipcode, Length: 3439, dtype: int64

In [7]:
df.dtypes

id             int64
gender        object
age            int64
occupation    object
zipcode       object
dtype: object

In [8]:
df.age = df.age.astype(object)

In [9]:
df_dummy= pd.get_dummies(df)

In [10]:
from scipy.cluster.hierarchy import dendrogram, linkage

In [11]:
z = linkage(df_dummy, 'complete')

In [12]:
from scipy.cluster.hierarchy import cophenet
from scipy.spatial.distance import pdist
import matplotlib.pyplot as plt
c, coph_dist = cophenet(z, pdist(df_dummy, 'jaccard'))
c
dendrogram(
    z,
    leaf_rotation = 90.,
    leaf_font_size = 8.,)
plt.show()

In [13]:
from sklearn.cluster import AgglomerativeClustering
from sklearn.neighbors import KernelDensity

In [14]:
cluster = AgglomerativeClustering(n_clusters=6, affinity='jaccard', linkage='complete')

In [15]:
preds = cluster.fit_predict(df_dummy)

In [16]:
preds

array([1, 1, 2, ..., 0, 2, 1])

In [19]:
preds_df = pd.DataFrame(preds)

In [20]:
preds_df.to_csv('predictions.csv', index=True)